.contact-page {
    width: 100%;
    margin: auto;
    background-image: url('../Assets/back.jpg');

    form {
        margin-bottom: 40px;
        width: 60%;
        margin: auto;
        padding: 20px;
    }
    h2 {
        color: white;
    }

    .form {margin-bottom: 40px;}
    
}

h2 {
    text-align: center;
    padding: 20px;
}

