
.dropdown {
   
    a {
        background-color: transparent !important;
        border: none !important;
    }

   
   
    .dropdown-menu {
        width: 800px;
        padding: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .dropdown-menu-wrap {
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 10px;
            align-items: stretch;

            .dropdown-item {
                color: black;
                font-size: 12px;
                height: 25px;
                width: 100px;
                padding: 20px;
            }

            .dropdown-item:hover {
                color: goldenrod;
            }

            .label {
                text-align: center;
                font-weight: 600;
                width: 100%;
                color: goldenrod;
            }


            .dropdown-divider {
                width: 100%;
                border-color: black;
            }
           
        }

        
       
        
    }
}

.dropdown-toggle:after {
    display: none;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 !important;
}




@media (max-width: 1170px) {
    .dropdown .dropdown-menu {
        margin-left: -200px;
    }
}