@import "./util/Variables.scss";


.home {
    margin:auto;
    display: flex;
    flex-direction: column;
    background-image: url('../Assets/back.jpg');
}



@media (max-width: 1200px) {
    .home {
    }
}

@media (max-width: 900px) {
    .home {

    }
 
}