@import "./util/Variables.scss";


.schedule-container {
    width: $base-width;
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    .schedule {
        display: flex;
        padding-top: 0px;

        .card {
            margin: auto;
            background: black;
            color: white;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            border-radius: 0px;
            margin-top: 20px;
        }

        .quicklinks {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .link-containers {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 20px;

                .facebook-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .item-container {
                    
                    a {
                        color: white;
                    }

                    .facebook {
                        height: 60px;
                        width: 60px;
                    }
                    .facebook:hover {
                        cursor: pointer;
                    }
                   
                }   
                .item-box {
                    width: 100%;
                    height: 50px;
                    border: 1px solid white;
                    display: flex;
                    justify-content: center;
                    padding: 20px;
                    align-items: center;
                }
                .item-box:hover {
                    background-color: rgba(255,255,255,.1);
                    cursor: pointer;
                }
            }
        }
        
        .title {
            text-align: center;
            padding-top: 20px;
            width: 100%;
        }
        .shop {
            display: flex;
            flex-direction: column;
            width: $base-width;

            .row-containers {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 20px;
    
                .schedule-day {
                    width: 50%;
                    display: flex;
                    margin: 0px;
        
                    div {
                        text-align: left;
                        padding: 10px;
                        min-width: 102px;
                    }
                }
            };
        }
        
        
    }
}
@media only screen and (max-width: 1500px) and (min-width: 900px)  {
    .schedule-container {
       
    }
}


@media (max-width: 1250px) {
    .schedule-container {
        .card {
            flex-direction: column !important;

            .shop {
                width: 90% !important; 
                margin: auto;
            }
        } 
    }
}

@media (max-width: 900px) {
    .schedule-container {
        width: $med-width !important;
    }
}