.schedule-container {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    .schedule {
        display: flex;
        padding-top: 0px;

        .card {
            margin: auto;
            background: black;
            color: white;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            border-radius: 0px;
            margin-top: 20px;
        }

        .quicklinks {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .link-containers {
                display: flex;
                flex-direction: row;
                padding: 20px;

                .facebook-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .item-container {
                    flex-grow: 1;
                    
                    .facebook {
                        height: 60px;
                        width: 60px;
                    }
                    .facebook:hover {
                        cursor: pointer;
                    }
                   
                }   
                .item-box {
                    width: 100%;
                    height: 50px;
                    border: 1px solid white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .item-box:hover {
                    background-color: rgba(255,255,255,.1);
                    cursor: pointer;
                }
            }
        }
        
        .title {
            text-align: center;
            padding-top: 20px;
            width: 100%;
        }
        .shop {
            display: flex;
            flex-direction: column;
            width: 60%;

            .row-containers {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 20px;
    
                .schedule-day {
                    width: 50%;
                    display: flex;
    
                    .time {
                    min-width: 150px;
                    }
        
                    div {
                        text-align: left;
                        padding: 10px;
                        min-width: 150px;
                    }
                }
            };
        }
        
        
    }
}
@media only screen and (max-width: 1500px) and (min-width: 900px)  {
    .schedule-container {
        .schedule-content{
            width: 80%;
        }
    }
}


@media (max-width: 900px) {
    .schedule-container {
        .schedule-content{
            flex-direction: column;
            width: 100%;

            #facebook-wrapper {
                padding: 40px;
            }

            .schedule {
                margin: 0px;
            }
        }
    }
 
}