.service {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../Assets/back.jpg');
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    h1 {
        margin: auto;
        text-align: center;
        background-color: goldenrod;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .service-wrapper {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;

        .box {
            min-height: 500px;
            width: 50%;
            text-align: center;

            h3 {
                padding: 20px;
                color: white;
            }

            img {
                width: 79.5%; // removed the weird pixel overhang
                height: 50%;
                margin: auto;
                margin-top: 0px;
                margin-bottom: 0px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            ul {
                display: flex;
                flex-direction: row;
                list-style-type: disc;
                flex-wrap: wrap;
                width: 80%;
                margin: auto;
                margin-bottom: 0px;
                border: 1px solid black;
                background-color: white;
                padding: 20px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;


                li {
                    width: 33%;
                    height: 55px;
                    display: flex;

                    a {color: goldenrod;
                        padding: 5px;
                        font-size: 12px;
                        color: black;
                        width: 100%;
                        text-align: left;
                        margin: auto;}
                }
            }
        }
    }
}