.display {
    width: 60%;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    img {
        height: 200px;
        width: 200px;
    }
}