
.service {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../Assets/back.jpg');
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;

    .service-intro {
        width: 60%;
        margin: auto;
        color: white;
        padding: 20px;
    }

    .banner {
        background-image: url('../Assets/banner.jpg');
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;

    }

    h1 {
        margin: auto;
        text-align: center;
        color: goldenrod;
        font-size: 5em;
    }
    .schedule-container {
        padding: 20px;
    }

    .service-wrapper {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;

        .box-wrapper {
          width: 50%;

          h2 {
            color: goldenrod;
          }
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: disc;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
            margin-bottom: 0px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            padding-left: 20px;

            li {
                width: 33%;
                height: 55px;
                display: flex;

                a {
                    padding: 5px;
                    font-size: 12px;
                    color: white;
                    width: 100%;
                    text-align: left;
                    margin: auto;}
            }
        }
    }
}

.container {
    position: relative;
    padding: 0px;
    margin: 20px 0;
  }
  
  .image {
    display: block;
    width: 90%;
    margin: auto;
    height: 100%;
    padding: 0px;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    width: 90%;
    margin: auto;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


  
@media only screen and (max-width: 1400px) {
  .service-wrapper {

    h2 {
      font-size: 16px;
    }
  } 
}

@media only screen and (max-width: 900px) {
  .service-wrapper {
    flex-direction: column !important;


    .box-wrapper {
      width: 100% !important;
    }
  }
}